/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 13, 2018, 10:49:54 PM
    Author     : Nikola Kotarac
*/

*{
    font-family: 'Lato', sans-serif;
}

body, html {
    height: 100%;
    line-height: 1.8;
    background-color: whitesmoke;
    margin: 0;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    opacity: 0.85;
}

.bgimg-1 {

    background-image: url('../img/3.jpg');
    min-height: 100%;


}

.bgimg-2 {
    background-image: url("../img/lhr_gallery_edit.jpg");
    min-height: 400px;


}

.bgimg-3 {
    background-image: url("../img/petar.jpg");
    min-height: 400px;


}

.artist, .series, .contact {
    padding-top: 110px;
    padding-bottom: 50px;
}



/********NAVIGATION******/

.bg-transparent .navbar-nav .nav-link {
    letter-spacing: 2px !important;
    font-weight: 200 !important;
    color: #fff !important;
}

.bg-white {
    overflow: hidden;
    z-index: 9999;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
    animation: animatetop 0.6s;
    opacity: 0.99;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0px;
    }
}


.navbar-light .navbar-nav .nav-link {
    letter-spacing: 2px;
    font-weight: 200;
    color: #000;
}

.navbar-light 
.navbar-nav .nav-link:hover {

    color: #ddd;
}

.navbar-light 
.navbar-nav .active > .nav-link:hover {

    color: #000;

}

/************ABOUT SECTION************/


.artist img{
    max-width: 100%;
    height: auto;
}


.artist h3{
    margin: 10px 0;
    font-weight: 400;
    font-size: 18px;
    color: #000;
}

.artist p{
    font-size: 0.9rem;
    color:#777;
}

/********PAINTINGS SECTION******/

.series h3{
    margin: 10px 0;
    font-weight: 400;
    font-size: 18px;
    color: #777777;
}

.series p{
    font-size: 0.85rem;
    color:#777777;
}

.series figure{
    height: 435px;
    background: #000;
    overflow: hidden;

}

.series a img{
    max-width: 100%;
    height: auto;

}
.series figure:hover img{
    transform: scale(1.1);
}

.series a{
    text-decoration: none;
    font-size: 18px;
    color: #000;
    display: inline-block;
    max-width: 400px;
}

.series a:hover {

    color: #343a40 !important;
}


.notice {
    position: relative;
    margin: 0 auto;
}

.notice img {

    vertical-align: middle;
}

.notice:hover .image {
    opacity: 0.3;
}

.notice:hover .content {
    opacity: 1;

}

.notice .content {
    position: absolute;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.2); 
    color: #f1f1f1;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.content {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    height: 70px;
}

.content p {

    font-style: italic;
}

.text-left {

    font-style: italic;
    padding-top: 15px;
}

.caption {
    width: 100%;
    position: absolute;
    bottom: 2px;
    z-index: 2;
    color: #000;
    left: 0;
    right: 0;
    background:whitesmoke;
    opacity: 0.4;

}

.caption h5 {

    font-weight: 500;
    line-height: 1.5;
}

/********CONTACT SECTION******/

.contact h3{
    margin: 10px 0;
    font-weight: 400;
    font-size: 18px;
    color: #777777;
}

.btn-dark {
    float:right;
    background-color: #000;
}

/********SERIES PAGE******/

img{
    max-width: 100%;
    display: block;
}

.mb-4 {
    margin-bottom: 30px  !important;
}

.item-wrapper figure {
    
    margin-bottom: 0;
    background-color: #fff;
    padding:20px 20px 10px 20px;
    box-shadow: 0 8px 6px -6px black;
}

.item-wrapper figure img:hover {
    opacity: 0.95;
}

.row-series-name {

    padding: 20px 0;
}

#categoryTitle {

    padding-top: 80px;
    padding-bottom: 20px;
    letter-spacing: 2px;

}

#categoryTitle > hr {

    border-top: 0.3125rem solid #e9e9e9;
    margin-top: 1rem;
}

#categoryTitle h4 {

    font-weight: 300;
}

#categoryTitle h4 > a:hover {

    text-decoration: none;
}

.decoration hr {

    border: 1px solid #fff;
}

.col-md-12 > p {

    color:#777;
}

#breadcrumbsCategory {

    padding: 40px 0 0 0;
}

#breadcrumbs {

    padding-bottom: 20px;
}

#paintDetails {
    
    position: relative; 
    display: inline-block; 
    float:left; 
    margin-top: 10px;
}

#paintPrice {
    
    position: relative; 
    display: inline-block; 
    float: right; 
    margin-top: 10px;
}

/********ONE PAINT PAGE******/

#paintName {
    padding-top: 120px;
/*    padding-bottom: 30px;*/
}

.paint {
    background-color: #fff; 
    padding-top: 20px; 
    padding-bottom: 5px; 
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 30px; 
    box-shadow: 0 8px 6px -6px black;
}

.art-description {
    background-color: #fff; 
    margin-top: 5px; 
    margin-bottom: 30px;
    padding-top: 20px; 
    padding-left: 20px; 
    padding-bottom: 20px; 
    padding-right: 20px; 
    box-shadow: 0 8px 6px -6px black;
}

.art-description a:hover {
    text-decoration: none;
}

#breadcrumb a:hover {
    text-decoration: none;
}

.button-cart {

    display: block;
    margin-top: 20px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    color: #fff;
    background-color: #80bc31;
    cursor: pointer;
    border: 0;
    outline: 0;
    z-index: 2;
    font-size: 26px;
}

.fa-check, .fa-star {
    color: #80bc31;
}



/********FULL PAINT PAGE******/

.full-page-paint {

    padding-bottom: 30px;
}


.btn.btn-secondary {

    background-color: #777;
    border-radius: 0;
    border: transparent;
}

#fullPagePaint {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    
}

.fullPaint {
    
    background-color: #fff !important;
}

/********FOOTER******/

.social{
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}
.social .fa{
    width: 35px;
    height: 35px;
    display: inline-block;
    border-radius: 50%;
    background: #000;
    color:#fff;
    line-height: 35px;
    font-size: 22px;
    transition: 0.7s ease;
}
.social .fa:hover{
    transform: rotate(360deg);
    text-decoration: none;
}

footer {

    padding-top: 30px;
    padding-bottom: 10px;
    background-color: #000;

}

footer small {

    color:#fff;
}


.copyright {
    padding-top: 20px;
}

.btn-light {

    border: transparent;
    border-radius: 0px !important;
}


