/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 13, 2018, 10:49:54 PM
    Author     : Nikola Kotarac
*/


body {

    background: #ffffff;
    color: #898989;
    font-family: 'Poppins', helvetica;
    font-size: 15px;
    font-weight: 200;
    /*    line-height: 20px;
        letter-spacing: 0.02em;*/
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

body, html {
    height: 100%;
    line-height: 1.6;
    margin: 0;
}



.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    opacity: 0.85;
}

.bgimg-1 {

    background-image: url('../img/blue_void.jpg');
    min-height: 100%;


}

.bgimg-2 {
    background-image: url("../img/lhr_gallery_edit.jpg");
    min-height: 400px;


}

.bgimg-3 {
    background-image: url("../img/petar.jpg");
    min-height: 400px;


}

.artist, .series, .contact {
    padding-top: 115px;
    
} 


/********NAVIGATION******/



.bg-transparent .navbar-nav .nav-link {
    letter-spacing: 2px !important;
    font-weight: 200 !important;
    color: #fff !important;
}

.bg-white {
    overflow: hidden;
    z-index: 1000;
    -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
    opacity: 0.98;
}


.navbar-light .navbar-nav .nav-link {
    font-size: 14px;
    color: #999999;
    font-family: 'Poppins', helvetica;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.02em !important;
    text-transform: capitalize;
}

.navbar-light 
.navbar-nav .nav-link:hover {

    color: #b8a07e;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

.navbar-light 
.navbar-nav .active > .nav-link:hover {

    color: #b8a07e;

}

.navbar-light 
.navbar-nav .active {

    color: #b8a07e;
}



/************ABOUT SECTION************/


.artist img{
    max-width: 100%;
    height: auto;
}


.artist h3{
    margin: 10px 0;
    font-weight: 400;
    font-size: 18px;
    color: #b8a07e;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

.artist p{
    font-size: 0.9rem;
    color:#777;
}

#biography strong {
    
    color:#b8a07e;
}

/********PAINTINGS SECTION******/

.series h3{
    margin: 10px 0;
    font-weight: 400;
    font-size: 18px;
    color: #b8a07e;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

.series p{
    font-size: 0.85rem;
    color:#777777;
}

.series figure{
    height: 435px;
    background: #000;
    overflow: hidden;

}

.series a img{
    max-width: 100%;
    height: auto;

}
.series figure:hover img{
    transform: scale(1.1);
}

.series a{
    text-decoration: none;
    font-size: 18px;
    color: #000;
    display: inline-block;
    max-width: 400px;
}

.series a:hover {

    color: #343a40 !important;
}


.notice {
    position: relative;
    margin: 0 auto;
}

.notice img {

    vertical-align: middle;
}

.notice:hover .image {
    opacity: 0.3;
}

.notice:hover .content {
    opacity: 1;

}

.notice .content {
    position: absolute;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.2); 
    color: #f1f1f1;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.content {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    height: 70px;
}

.content p {

    font-style: italic;
}

.text-left {

    font-style: italic;
    padding-top: 15px;
}

.caption {
    width: 100%;
    position: absolute;
    bottom: 7px;
    z-index: 2;
    color: #000;
    left: 0;
    right: 0;
    background:#ffffff;
    opacity: 0.4;
    justify-content: space-around;

}

.caption h5 {

    font-weight: 500;
    line-height: 1.5;
}

/********CONTACT SECTION******/

.contact h3{
    margin: 10px 0;
    font-weight: 400;
    font-size: 18px;
    color: #b8a07e;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

.btn-dark {

    width: 100%;
    background-color: #333;
    border-radius: 0;
    border: medium none;
    color: #fff;
    font-size: 12px;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    text-transform: uppercase;


}

.form-control {

    border-radius: 0;
    background-color: transparent;
    border:none;
    font-size: 14px;

}

.form-control:focus{
    box-shadow: none;
    border-color:#88afd8;
}

.form-control input, .form-control textarea {

    border-radius: 0;
    background-color: transparent;
    border: 1px solid #999999;
    height: 50px;
    color: #999999;
    font-size: 12px;
}

.form-control-success,
.form-control-warning,
.form-control-danger {
    padding-right: 2.25rem;
    background-repeat: no-repeat;
    background-position: center right 0.5625rem;
    -webkit-background-size: 1.125rem 1.125rem;
    background-size: 1.125rem 1.125rem;
}

.has-success .form-control-feedback,
.has-success .form-control-label,
.has-success .col-form-label,
.has-success .form-check-label,
.has-success .custom-control {
    color: #5cb85c;
}

.has-success .form-control {
    border-color: #218838;
}

.has-success .input-group-addon {
    color: #5cb85c;
    border-color: #5cb85c;
    background-color: #eaf6ea;
}

.has-success .form-control-success {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%235cb85c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
}

.has-warning .form-control-feedback,
.has-warning .form-control-label,
.has-warning .col-form-label,
.has-warning .form-check-label,
.has-warning .custom-control {
    color: #f0ad4e;
}

.has-warning .form-control {
    border-color: #f0ad4e;
}

.has-warning .input-group-addon {
    color: #f0ad4e;
    border-color: #f0ad4e;
    background-color: white;
}

.has-warning .form-control-warning {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23f0ad4e' d='M4.4 5.324h-.8v-2.46h.8zm0 1.42h-.8V5.89h.8zM3.76.63L.04 7.075c-.115.2.016.425.26.426h7.397c.242 0 .372-.226.258-.426C6.726 4.924 5.47 2.79 4.253.63c-.113-.174-.39-.174-.494 0z'/%3E%3C/svg%3E");
}

.has-danger .form-control-feedback,
.has-danger .form-control-label,
.has-danger .col-form-label,
.has-danger .form-check-label,
.has-danger .custom-control {
    color: #d9534f;
}

.has-danger .form-control {
    border: 1px solid #CC3B3B;
}

.has-danger .input-group-addon {
    color: #d9534f;
    border-color: #d9534f;
    background-color: #fdf7f7;
}

.has-danger .form-control-danger {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E");
}

.error {

    color: red;
    font-weight: 400;
    font-size: 13px;
    display:none;
    width: 100%;
}

.error p {

    margin-bottom: 0;
}





/********SERIES PAGE******/

img{
    width: 100%;
    display: block;
}

.mb-4 {
    margin-bottom: 30px  !important;
}

.item-wrapper figure {

    margin: 0 !important;

}

.item-wrapper figure img:hover {
    opacity: 0.95;
}


#categoryTitle {

    padding-top: 80px;
    padding-bottom: 20px;
    letter-spacing: 2px;

}

#breadcrumbsCategory {

    padding: 40px 0 0 0;
}

#artist-statement strong {

    color: #b8a07e;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

#collection-holder p {

    font-size: 13px;
    color: #777;
    /*    -moz-transition: all 0.5s ease-in-out 0s;
        -ms-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
        -webkit-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s;*/
}

.text-left {

    padding-top: 2px !important;
}


/********ONE PAINT PAGE******/

#paintName {
    padding-top: 120px;
    /*    padding-bottom: 30px;*/
}

.paint {
    background-color: #fff; 
    padding-top: 20px; 
    padding-bottom: 5px; 
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 30px; 
    box-shadow: 0 8px 6px -6px black;
}

.art-description {
    background-color: #fff; 
    margin-top: 5px; 
    margin-bottom: 30px;
    padding-top: 20px; 
    padding-left: 20px; 
    padding-bottom: 20px; 
    padding-right: 20px; 
    box-shadow: 0 8px 6px -6px black;
}

.art-description a:hover {
    text-decoration: none;
}

#breadcrumb a:hover {
    text-decoration: none;
}

.button-cart {

    display: block;
    margin-top: 20px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    color: #fff;
    background-color: #80bc31;
    cursor: pointer;
    border: 0;
    outline: 0;
    z-index: 2;
    font-size: 26px;
}

.fa-check, .fa-star {
    color: #80bc31;
}



/********FULL PAINT PAGE******/

.full-page-paint {

    padding-bottom: 30px;
}


.btn.btn-secondary {

    background-color: #777;
    border-radius: 0;
    border: transparent;
}

#fullPagePaint {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;

}

.fullPaint {

    background-color: #fff !important;
    /*    margin-bottom: -50px;*/
}

/********FOOTER******/

.social{
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}
.social .fa{
    width: 35px;
    height: 35px;
    display: inline-block;
    border-radius: 50%;
    background: transparent;
    color:#b8a07e;
    line-height: 35px;
    font-size: 22px;
    transition: 0.5s ease;
}
.social .fa:hover{
    transform: rotate(360deg);
    text-decoration: none;
    color:#000;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

footer {

    padding-top: 30px;
    padding-bottom: 10px;
    background: #f7f7f7;


}

footer small {

    color: #999;

}


.copyright {
    padding-top: 20px;
}

.btn-light {

    border: transparent;
    border-radius: 0px !important;
    color: #b8a07e;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
} 

.btn-light:hover {

    background-color: #f7f7f7;
}

#pointer {
    cursor: pointer;
}

#loader {

    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 999;
    overflow: visible;
    background: url('../img/ajax/ajax-loader.gif') no-repeat center center;
    display: none;
}

/*#contact figure {

    max-width: 100%;
}*/

.fa-navicon {
    
    color:#b8a07e;
    
}