
/* 
    Created on : Mar 13, 2018, 10:50:12 PM
    Author     : Nikola Kotarac
*/

@media(min-width:280px) {

    .artist h3 {

        font-size: 17px;

    }

    a.navbar-brand > img {
        width: 150px;
        height: auto;
    }

    .series figure {
        height: 310px;

    }

}

@media(min-width:320px) {

    .artist h3 {

        font-size: 18px;

    }

    a.navbar-brand > img {
        width: 200px;
        height: auto;
    }

    .series figure {
        height: 360px;

    }

}

@media(min-width:576px){

    a.navbar-brand > img {
        width: 350px;
        height: 80px;
    }
    
     .series figure {
        height: 435px;

    }


}

@media(min-width:768px){


}

@media(min-width:992px){


} 


@media(min-width:1200px){

    

}


@media only screen and (max-device-width: 1024px) {
    .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }


}